<ion-header [translucent]="false">
  <ion-toolbar color="base_header">
    <!-- botao voltar -->
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title class="ion-text-center"> -->
    <ion-title>
      Adicionar endereço
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">

      <ion-list formGroupName="endereco">
        <ion-list-header>
          <ion-label>Endereço</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">Cidade</ion-label>
          <ion-input formControlName="cidade"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.cidade">
          <ng-container *ngIf="cidade.hasError(error.type) && (cidade.dirty || cidade.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        <ion-item>
          <ion-label position="floating">Bairro</ion-label>
          <ion-input formControlName="bairro"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.bairro">
          <ng-container *ngIf="bairro.hasError(error.type) && (bairro.dirty || bairro.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Rua</ion-label>
          <ion-input formControlName="rua"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.rua">
          <ng-container *ngIf="rua.hasError(error.type) && (rua.dirty || rua.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
       
        <ion-item>
          <ion-label position="floating">Numero</ion-label>
          <ion-input inputmode="tel" formControlName="numero"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.numero">
          <ng-container *ngIf="numero.hasError(error.type) && (numero.dirty || numero.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
        

        <ion-item>
          <ion-label position="floating">CEP</ion-label>
          <ion-input inputmode="tel" formControlName="cep"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.cep">
          <ng-container *ngIf="cep.hasError(error.type) && (cep.dirty || cep.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-list>
      <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block">Submit <ion-icon slot="end"
          name="create">
        </ion-icon>
      </ion-button>
    </form>
  </div> -->

</ion-content>
