<ion-content>

	<ion-col>
		<div text-center>
			<h4 class="ion-text-center">Login</h4>
		</div>
		<div padding>
			<ion-item>
				<ion-input type="text" [(ngModel)]="username" placeholder="Email"></ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="password" [(ngModel)]="password" placeholder="Senha"></ion-input>
			</ion-item>
		</div>
	</ion-col>
		<div padding align-self-center>
			<ion-button size="default" expand="block" (click)="doLogin()">Login</ion-button>
		</div>
	

	<span class="divider line one-line">ou</span>

	<ion-button expand="block" color="light" routerLink="/cadastro">
		<ion-text color="primary">Cadastre-se</ion-text>
	</ion-button>

</ion-content>