<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let pagina of paginas">
            <ion-item [routerDirection]="'root'" [routerLink]="[pagina.url]">
              <ion-icon slot="start" [ios]="pagina.icone + '-outline'" [md]="pagina.icone + '-sharp'"></ion-icon>
              <ion-label>
                {{ pagina.titulo }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>